
<section id="Anasayfa" class="hero_section"></section><!-- /.hero_section -->

<section id="Hakkimizda" class="about_section padding"></section><!-- /.about_section -->

<section id="Kategoriler" class="food_section bg-grey padding"></section>

<section id="Menu" class="menu_section padding"></section><!-- /.food_menu_section -->

<section id="ShineFood" class="featured_food_section padding"></section><!-- /.featured_food_section -->

<section id="stuff" class="stuff_section bg-grey padding"></section><!-- /.stuff_section -->

<section id="Galeri" class="gallery_section padding"></section><!-- /.gallery_section -->

<section id="Rezervasyon" class="reservation_section bg-grey padding"></section><!-- /.reservation_Section -->

<section id="Announcement" class="event_section padding"></section><!-- /.featured_food_section -->

<section id="Blog" class="blog_section padding"></section><!-- /.blog_Section -->

<section id="contact" class="contact_section padding">
    <div id="google_map"></div>
    <div class="contact_wrap">
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="contact_info align-center">
                    <h2 class="text-white">@Html.GetSettingValue("MapTitle")</h2>
                    <p>@Html.GetSettingValue("MapAddress")</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.contact_section -->

<section id="Footer" class="footer_widget_section padding"></section><!-- /.footer_widget_section -->
