
@{
    Layout = null;
}


<div class="container">
    <div class="display-table">
        <div class="table-cell">
            <div class="hero_content align-center">
                <h1>@Html.GetSettingValue("WebSiteTitle")</h1>
                <p>@Html.GetSettingValue("HomepageDescription")</p>
                <a data-scroll href="#Rezervasyon" class="fs_btn">Rezervasyon Yap</a>
            </div>
        </div>
    </div>
</div>