
@{
    ViewBag.Title = "Rezervasyonlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  List<Reservations>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">
                        Rezervasyonlar
                    </h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        @if (Request.QueryString["Status"] == "DeleteSuccess")
                        {
                            <div class="alert alert-warning mt-25">Rezervasyon başarıyla silindi.</div>
                        }
                        <div class="table-responsive">
                            <table id="menuTable" class="table table-hover display  pb-30">
                                <thead>
                                    <tr>
                                        <th>Müşteri Adı</th>
                                        <th>Kişi Sayısı</th>
                                        <th>Telefon</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Müşteri Adı</th>
                                        <th>Kişi Sayısı</th>
                                        <th>Telefon</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (Reservations item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.PersonCount</td>
                                            <td>@item.PhoneNumber</td>
                                            <td>@item.Email</td>
                                            <td>
                                                <a class="btn btn-danger btn-xs" href="/Reservations/Delete/?ID=@item.ID" data-toggle="tooltip" title="Sil"><i class="zmdi zmdi-delete"></i> Sil</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

